/* Ответы на теорию пишу в теле документа, для того чтобы параллельно практиковаться в верстке */
@import url(./reset.css);
@import url(./fonts.css);
/* 'Open Sans', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
}
/* все термины выделены жирным шрифтом */
span{
    font-weight: 600;
}

/* Настройка страницы */
.body__wrapper{
    width: 100vw;
    margin: 0 auto;
}

.homework{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-between;
    gap: 15px;

    background-color: #F5F5F5;
}

.homework__header{
    height: 85px;
    padding: 5px 0 5px 0; 

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;

    background-color: #FFFFFF;
    border-bottom: 5px solid #CFD8DC;

    color: #777777;
    font-weight: 800;
}

.homework__content{
    width: 90%;
    flex: 1 1 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;

    background-color: #E5F8F8;
}

.homework__footer{
    height: 60px;
    background-color: #FFFFFF;
    border-top: 5px solid #CFD8DC;

    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    padding-left: 20px;
}

/* настройка содержимого header */

.header-title__link{
    text-decoration: none;
}

.header__title, .header__subtitle, .header__student_name, .header__text{
    padding: 10px 10px;
    border: 0.5px solid #4b4747;
    background-color: #F5F5F5;
    border-radius: 4px;
} 

.header__title{
    color: #252323;
    position: relative;
    padding-left: 50px;
}

.header__title::before{
    content: "";
   
    display: block;
    position: absolute;

    width: 25px;
    height: 25px;

    left: 17px;
    bottom: 6px;

    background-image: url(../IMG/JS_logo.png);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.header__text{
    color: #FFFFFF;
    font-weight: 600;
    background-color: #027e02;
}

/* Блок "Теоретические вопросы */

.homework-content__theory-questions{
    width: 100%;
    min-height: 120px;
    background-color: #E5F8F8;
    border-top: 2px solid #CFD8DC;
    border-bottom: 2px solid #CFD8DC;

    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
}

.theory-questions__title{
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 10px;
    margin-top: 5px;
    margin-bottom: 10px;

    border: 0.5px solid #363333;
    background-color: #F5F5F5;
    border-radius: 4px;
}
.homework-theory-questions__item::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin: 0px 10px 4px 0px;
}

/* Блок "Ответы на теоретические вопросы */

.homework-content__theory-answers{
    width: 100%;
    min-height: 400px;
    background-color: #E5F8F8;
    border-top: 2px solid #CFD8DC;
    border-bottom: 2px solid #CFD8DC;

    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
    
}

.theory-answers__title{
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 10px;
    margin-top: 5px;
    margin-bottom: 10px;

    border: 0.5px solid #363333;
    background-color: #F5F5F5;
    border-radius: 4px;
}


.homework-theory-answers__item h3{
    font-weight: 600;
    margin-bottom: 10px;
}

.homework-theory-answers__item h3::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin: 0px 10px 4px 0px;
}

.homework-theory-answers__item p{
    text-align: justify;
    margin-left: 30px;
    margin-bottom: 5px;
    
}
.homework-theory-answers__item p::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
    margin: 0px 10px 4px 0px;
}

/* Блок Практические задания */

.homework-content__practice-tasks{
    width: 100%;
    min-height: 220px;
    background-color: #E5F8F8;
    border-top: 2px solid #CFD8DC;
    border-bottom: 2px solid #CFD8DC;

    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
}

.practice-tasks__title{
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    
    border: 0.5px solid #363333;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.homework-practice-tasks__item h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.homework-practice-tasks__item h3:before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin: 0px 10px 4px 0px;
}

.homework-practice-tasks__item p{
    text-align: justify;
    margin-left: 30px;
    margin-bottom: 5px;
}

.homework-practice-tasks__item p::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
    margin: 0px 10px 4px 0px;
}

.footer__text{
    padding: 6px;
   
    border: 1px solid #4D5EDE;
    background-color: #4D5EDE;
    border-radius: 4px;

    color: #FFFFFF;
    font-weight: 500;
}
.footer__text::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: inline-block;
    margin: 0px 8px 3px 1px;
}


/* настройки эффектов */

.header__title:hover{
    background-color: #363333;
    color: #FFFFFF;
    font-weight: 700;
    transform: scale(1.1);
    transition: 1s;
}
.header__subtitle:hover, .header__student_name:hover{
    background-color: grey;
    color: #FFFFFF;
    font-weight: 700;
    transition: 1s;
    transform: scale(1.1);

}
.header__text:hover{
    background-color: orangered;
    text-decoration: underline;
    transition: 1s;
    transform: scale(1.1);
}
.theory-questions__title:hover, .theory-answers__title:hover, .practice-tasks__title:hover {
    background-color: #027e02;
    color: #FFFFFF;
    font-weight: 600;
    transition: 1s;
    transform: scale(1.2);
}
.footer__text:hover{
    transition: 1s;
    transform: scale(1.2);
}
